.login-section {
    margin: 15px;
    width: 260px;
}
.login-section {
    float: left;
    padding-top: 25px;
}

.login-section .phone-input-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 8px 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.login-section .form-field {
    padding-left: 0;
}
.form--stack .form-field {
    padding-left: 0;
}
.form-field--icon {
    position: relative;
}
.form-field {
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.login-section .form-field .f-text {
    width: 100%;
    padding: 5px;
    border: none;
    /* max-width: 200px!important; */
}
.login-section .form--stack .btn, .login-section .form--stack .btn-hot {
    width: 100%;
}
.form--stack .btn {
    width: 100%;
}
.btn {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2EC3B4', endColorstr='#FF2DB3A6');
}
.btn, .btn.active, .btn.hover, .btn:active, .btn:focus, .btn:hover {
    color: #222;
    background-image: linear-gradient(135deg,#3e978b 0,#3e978b 100%);
    border-width: 0;
    box-shadow: 0 2px 1px rgba(191,105,0,.15);
    background-size: 100%;
}
.btn{
    width:100%;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    background-repeat: repeat-x;
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}






















.search-container input {
    width: 380px;
    height: 14px;
    padding: 9px;
    border: 2px solid #8db596;
    text-indent: 22px;
    outline: 0;
    box-sizing: content-box;
    font: 12px/1.5 arial,sans-serif;
}
#i-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #8db5967a;
}
.search-bnt-panel .search-btn {
    display: inline-block;
    padding: 10px;
    height: 12px;
    line-height: 16px;
    width: 100px;
    background-color: #8db596;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.search-bnt-panel {
    display: inline-block;
    position: absolute;
}





















.zhenguo-container {
    position: relative;
}
.minsu-ls-view {
    margin-top: -40px;
    padding: 53px;
    /* padding-right: 0; */
    /* padding-bottom: 0; */
    border: 1px solid #E5E5E5;
    /* border-top: 0px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    border-radius: 10px;
    min-height:1500px;
}
.minsu-ls-view .products {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
}
.minsu-ls-view .minsu-item {
    float: left;
    margin-right: auto;
    padding-left: 100px;
    /* padding-left:10%; */
}
.minsu-ls-view .minsu-item .product-card-header {
    position: relative;
}
.minsu-ls-view .minsu-item .product-card-header .product-img {
    width: 370px;
    height: 208px;
    border-radius: 10px;
    /* background: url(//p0.meituan.net/travelcube/214b841….png); */
    background-size: cover;
    background-position: 50%;
    max-width: 100%;
    height: 208px;
    margin-bottom: 11px;
    cursor: pointer;
    position: relative;
}
.head-img {
    border: 2px solid #FFFFFF;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -12px;
    right: 15px;
    z-index: 9;
    border-radius: 40px;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.minsu-ls-view .minsu-item .product-info {
    text-align: left;
    padding-bottom: 25px;
}
.minsu-ls-view .minsu-item .product-info .product-title {
    font-size: 16px;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width: 297px;
}
.minsu-ls-view .minsu-item .product-info .product-title{
    font-size: 16px;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width:297px;
}
.minsu-ls-view .minsu-item .product-info .sub-title{
    font-size: 12px;
    color: #999999;
    text-align:left;
}
.minsu-ls-view .minsu-item .product-info .price{
    font-weight:500;
    font-size: 22px;
    color: #FF6600;
    letter-spacing: -0.8px;
    padding:4px 0;
}
.minsu-ls-view .minsu-item .product-info .price .price-icon{
        font-size:14px;
    }








.footer {
    text-align: center;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, .05);
}
.footer {
    position: fixed;
    width: -webkit-fill-available;
    top: 83%;
    z-index: 1;
    margin-top: 0;
    padding-bottom: 100px;
    background-color: #fff;
}
.bg-white {
    background-color: #fff!important;
}
.inner {
    margin: 0 auto;
    max-width: 800px;
}

.footer-meta {
    padding: 50px 0 0;
    list-style: none
}

.footer-meta .footer-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 80px
}

.footer-meta .meta-item {
    position: relative;
    float: none;
    width: 50%;
    min-height: 1px;
    padding: 0 30px;
    margin: auto;
}

.footer-meta .meta-copyright .info-text p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    color: #767676
}

.footer-meta .meta-copyright .info-text a {
    color: #eb5055
}








































* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.main-content {
    padding: 120px 20px 40px;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s;
    width: -webkit-fill-available;
}
.post-lists {
    position: relative;
    display: block;
    overflow: hidden
}

.post-lists-body {
    display: block
}

.post-list-item {
    float: left;
    width: 33.3333%;
    height: auto;
    padding: 15px;
    align-items: center
}

.post-list-item-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04)
}

.post-list-item-container:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1)
}

.post-list-item-container .item-thumb {
    position: relative;
    display: inherit;
    min-height: 250px;
    -webkit-transition: -webkit-transform .5s ease, filter .5s ease;
    -moz-transition: -moz-transform .5s ease, filter .5s ease;
    transition: transform .5s ease, filter .5s ease;
    background-position: 50% 50%;
    background-size: cover
}

.post-list-item-container .item-desc {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 40px 28px
}

.post-list-item-container .item-desc p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    word-break: break-all;
    opacity: 0;
    color: #fff
}

.post-list-item-container:hover .item-thumb {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px)
}

.post-list-item-container:hover .item-desc {
    background-color: rgba(0, 0, 0, .5)
}

.post-list-item-container:hover .item-desc p {
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s;
    opacity: 1
}

.post-list-item-container .item-slant {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 110%;
    min-height: 100px;
    -webkit-transform: rotate(7deg) translate(-10px, 0);
    -ms-transform: rotate(7deg) translate(-10px, 0);
    transform: rotate(7deg) translate(-10px, 0);
    background-color: #fff
}

.post-list-item-container .item-slant.reverse-slant {
    -webkit-transform: rotate(-10deg) translate(10px, -10px);
    -ms-transform: rotate(-10deg) translate(10px, -10px);
    transform: rotate(-10deg) translate(10px, -10px);
    opacity: .7;
    background-color: #f68e5f;
    -webkit-box-shadow: none;
    box-shadow: none
}

.post-list-item-container .item-label {
    position: relative;
    height: 130px;
    padding: 10px 20px 40px;
    background-color: #fff
}

.post-list-item-container .item-label .item-title a {
    font-size: 17px;
    line-height: 17px;
    word-break: break-all;
    color: #313131
}

.post-list-item-container .item-label .item-meta {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px;
    text-align: right
}

.post-list-item-container .item-label .item-meta .item-meta-cat a {
    font-size: 13px;
    position: relative;
    float: right;
    margin-right: 10px;
    padding: 10px 0;
    text-align: right;
    text-transform: none;
    color: #5f5f5f
}

.post-list-item-container .item-label .item-meta .item-meta-date {
    font-size: initial;
    position: relative;
    float: left;
    padding-top: 9px;
    padding-left: 9px;
    text-align: right;
    text-transform: none;
    color: #f1f1f1
}
.post-list-item-container .item-label .item-meta .item-meta-date {
    padding-bottom: 5px;
    padding-left: 5px;
    color: #5f5f5f;
}
.post-list-item-container .item-label .item-meta .item-meta-ico {
    display: inline-block;
    float: right;
    width: 42px;
    height: 42px;
    border: 1px solid #eaeaea;
    border-radius: 50%
}
.post-list-item:hover,
.common-page .post-list-item:hover,
.related-post-lists .post-list-item:hover {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}
.archive-page .post-list-item-container {
    border: 1px solid rgba(184, 197, 214, .2);
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04)
}

.archive-page .post-list-item-container .item-label {
    height: 95px;
    background: #fff
}

.archive-page .post-list-item-container .item-label .item-title a {
    font-size: 14px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #313131
}

.archive-page .post-list-item-container .item-label .item-meta .item-meta-date {
    padding-bottom: 5px;
    padding-left: 5px;
    color: #5f5f5f
}

.Trolley-check{
    margin-left: 20px;
    margin-top: 22px;
}

.ning-content{
    margin-top: 100px;
}



.food-main{
    margin-top: 200px;
}
.food-info-content{
    /* margin-top: 200px; */
    display: contents;
}
.food-info-content{
    color:dimgray;
}
.food-info-box{
    margin: 0 auto;
    min-width: 60%;
    max-width: 70%;
    min-height: 400px;
    background-color:#fff;
    border-radius: 10px;
    padding: 30px 20px;
}
.food-info-box .food-name{
    font-size: 26px;
    line-height: 37px;
    color:#313131;
    font-family: cursive;
}
.food-info-box .food-base-info{
    margin-top: 5px;
}
.food-info-left{
    float: left;
    width:65%;
    padding-right: 10px;
}
.food-info-right{
    float: left;
    width: 35%;
    text-align: center;
    margin-top: 60px;
}
.food-info-right img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.food-price{
    color:#FF6600;
    font-size: initial;
}
.food-base-info{
    color:#cea064;
    font-size: x-small;
}
.food-infos{
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 0 11px;
    min-height: 120px;
}
.shop-info{
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 0 20px;
}
.shop-logo-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
    margin-top: 10px;
}














/* 支付按钮 */
.pay-button{
    margin: 10px;
    background-color: cadetblue;
    border-radius: 5px;
    color: aliceblue;
    width: 60px;
    height: 28px;
}

/* 订单页页数按钮 */
.page-num-box{
    text-align: center;
    height: 49px;
    margin-top: 30px;
}