.login-section {
    margin: 15px;
    width: 260px;
}
.login-section {
    float: left;
    padding-top: 25px;
}

.login-section .phone-input-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 8px 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.login-section .form-field {
    padding-left: 0;
}
.form--stack .form-field {
    padding-left: 0;
}
.form-field--icon {
    position: relative;
}
.form-field {
    position: relative;
    padding: 8px 0 8px 110px;
    zoom: 1;
}
.login-section .form-field .f-text {
    width: 100%;
    padding: 5px;
    border: none;
    /* max-width: 200px!important; */
}
.login-section .form--stack .btn, .login-section .form--stack .btn-hot {
    width: 100%;
}
.form--stack .btn {
    width: 100%;
}
.btn {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2EC3B4', endColorstr='#FF2DB3A6');
}
.btn, .btn.active, .btn.hover, .btn:active, .btn:focus, .btn:hover {
    color: #222;
    background-image: linear-gradient(135deg,#3e978b 0,#3e978b 100%);
    border-width: 0;
    box-shadow: 0 2px 1px rgba(191,105,0,.15);
    background-size: 100%;
}
.btn{
    width:100%;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px 6px;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    background-repeat: repeat-x;
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}






















.search-container input {
    width: 380px;
    height: 14px;
    padding: 9px;
    border: 2px solid #8db596;
    text-indent: 22px;
    outline: 0;
    box-sizing: content-box;
    font: 12px/1.5 arial,sans-serif;
}
#i-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #8db5967a;
}
.search-bnt-panel .search-btn {
    display: inline-block;
    padding: 10px;
    height: 16px;
    line-height: 16px;
    width: 100px;
    background-color: #8db596;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.search-bnt-panel {
    display: inline-block;
    position: absolute;
}





















.zhenguo-container {
    position: relative;
}
.minsu-ls-view {
    margin-top: -40px;
    padding: 53px;
    /* padding-right: 0; */
    /* padding-bottom: 0; */
    border: 1px solid #E5E5E5;
    /* border-top: 0px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    border-radius: 10px;
}
.minsu-ls-view .products {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
}
.minsu-ls-view .minsu-item {
    float: left;
    margin: auto;
}
.minsu-ls-view .minsu-item .product-card-header {
    position: relative;
}
.minsu-ls-view .minsu-item .product-card-header .product-img {
    width: 370px;
    height: 208px;
    border-radius: 10px;
    /* background: url(//p0.meituan.net/travelcube/214b841….png); */
    background-size: cover;
    background-position: 50%;
    max-width: 100%;
    height: 208px;
    margin-bottom: 11px;
    cursor: pointer;
    position: relative;
}
img {
    border: 2px solid #FFFFFF;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -12px;
    right: 15px;
    z-index: 9;
    border-radius: 40px;
    background-image: url(https://p0.meituan.net/mmc/35ad1f9….png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.minsu-ls-view .minsu-item .product-info {
    text-align: left;
    padding-bottom: 25px;
}
.minsu-ls-view .minsu-item .product-info .product-title {
    font-size: 16px;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width: 297px;
}
.minsu-ls-view .minsu-item .product-info .product-title{
    font-size: 16px;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width:297px;
}
.minsu-ls-view .minsu-item .product-info .sub-title{
    font-size: 12px;
    color: #999999;
    text-align:left;
}
.minsu-ls-view .minsu-item .product-info .price{
    font-weight:500;
    font-size: 22px;
    color: #FF6600;
    letter-spacing: -0.8px;
    padding:4px 0;
}
.minsu-ls-view .minsu-item .product-info .price .price-icon{
        font-size:14px;
    }








.footer {
    text-align: center;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, .05);
}
.footer {
    position: relative;
    z-index: 1;
    margin-top: 0;
    padding-bottom: 20px;
    background-color: #fff;
}
.bg-white {
    background-color: #fff!important;
}
.inner {
    margin: 0 auto;
    max-width: 800px;
}

.footer-meta {
    padding: 50px 0 0;
    list-style: none
}

.footer-meta .footer-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 80px
}

.footer-meta .meta-item {
    position: relative;
    float: none;
    width: 50%;
    min-height: 1px;
    padding: 0 30px;
    margin: auto;
}

.footer-meta .meta-copyright .info-text p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    color: #767676
}

.footer-meta .meta-copyright .info-text a {
    color: #eb5055
}
